<!doctype html>
<html>
  <%= partial "partials/head" %>
  <body class="container">
    <header class="header">
      <h1>
        <%= link_to '⬅  Samuel Lie', '/' %>
        <br>
        <%= current_page.data.title %>
      </h1>
    </header>
    <aside class="sidebar">
      <p class="text-secondary"><%= current_page.data.category %></p>
      <% if current_page.data.other_info %>
        <p class="text-secondary"><%= current_page.data.other_info %></p>
      <% end %>
    </aside>
    <article class="content">
      <%= yield %>
    </article>
  </body>
</html>
