<aside class="sidebar">
  <h4>About</h4>
  <p>Designer and front-end developer. I have several years of experience of designing and programming for the web.</p>

  <p>Currently I am studying the Design Lead programme at Hyper Island to get more hands-on experience with human-centered design and leadership.</p>
  <p><%= link_to 'Questions? Send me an email.', 'mailto:hej@samuellie.se' %></p>
</aside>

<section class="content">
  <div class="mb-gutter">
    <h4>Case studies</h4>
    <ul class="list-unstyled case-studies">
      <% blog.articles.each do |article| %>
        <li>
          <% if article.data.image %>
            <% link_to article.url do %>
              <%= image_tag article.data.image %>
            <% end %>
          <% end %>
          <%= link_to article.title, article.url %>
          <br>
          <span class="text-secondary"><%= article.data.category %></span>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="mb-gutter">
    <h6>Other work</h6>
    <ul class="list-unstyled">
      <li>
        <%= link_to 'ECPAT Challenge', 'http://ecpatchallenge.se/' %>
        <br>
        <span class="text-secondary">UX + Front-end development</span>
        <p>Together with <%= link_to 'Novium Design', 'https://www.noviumdesign.se/' %> I helped ECPAT create a digital campaign and associated website to increase awareness about exploitation of children.</p>
      </li>
      <li>
        <%= link_to 'Hubbster', 'https://www.hubbster.com/' %>
        <br>
        <span class="text-secondary">UX + Front-end development</span>
        <p>Between 2016 and 2018 I helped Hubbster with design and front-end development of their web platform that encourages bottom-up strategy activation within organizations.</p>
      </li>
      <li>
        <%= link_to 'YouMe', 'https://itunes.apple.com/US/app/id1306693447' %>
        <br>
        <span class="text-secondary">Wireframes, prototyping and front-end development</span>
        <p>I helped the startup Brain Space wireframe and prototype early versions of their app YouMe for internal testing. I also helped them with front-end development of the app to both Android and iOS using Angular and Ionic Framework.</p>
      </li>
      
      <li>
        <span class="text-italic">Medon</span>
        <br>
        <p>Between 2015 and 2017 I worked with Medon in Oslo helping them increase their capabilities within design and web development. During my time their I designed and developed a bike pickup app for use in the skiing and adventure resort Trysil (developed with Angular and Ionic Framework), as well as helping the brewery Ringnes with content strategy for moving over to their new international website platform and CMS provided by Carlsberg.</p>
      </li>
      <li>
        <%= link_to 'Färgsätt', 'https://frystpingvin.github.io/color-list/' %>
        <br>
        <span class="text-secondary">Personal project</span>
        <p>A simple list of my favorite colors from earlier projects.</p>
      </li>
    </ul>
  </div>
</section>